img.rounded-circle {
  max-width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.carousel-inner {
  h3 {
    margin-bottom: 2rem;
    color: $colornegro;
  }

  img {
    max-width: 1000px;
    margin: auto;
    object-fit: contain;
  }
}