@mixin header-comun {
  position: relative;
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin tarjeta-base($bg-color) {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-color;
  text-align: center;
  border: 1px solid $colornegro;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}