$colorblanco: rgb(255, 255, 255, 0.958);
$colornegro: rgba(0, 0, 0, 0.4);
$colorazultransparente: rgba(22, 40, 237, 0.359);
$colorcelesteclaro: rgb(0, 123, 255);
$box-shadow: rgba(0, 0, 0, 0.2);
$color-fondo-propiedad: rgba(131, 144, 161, 0.318);
